/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    padding: 15px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    color: #FFF;
    border: 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

/* Nav Related Style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */

.header {
    padding-top:50px ;
    background-color: #FFF8F3;
    background-image: url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 500px;
}

.banner-discription {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

/*  main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about style added */
.about {
    padding: 130px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}

.section-discription {
    margin-top: 30px;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    text-align: center;

    font-size: 20px;

    font-weight: 400;
    line-height: 30px;
}

.info-discription {
    color: #474747;

    font-size: 20px;

    font-weight: 700;
    line-height: 30px;
}

/* what i do  */
#what-i-do-dis {
    padding: 30px 150px;
}

.skil-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;

}

.skil {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);


}

.skill-discription {
    color: #757575;

    font-size: 16px;

    font-weight: 400;
    line-height: 28px;
}

.skill-title {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #181818;
    font-size: 20px;
    font-weight: 700;

}

/* resume section style */
.resume-section {
    margin-top: 130px;
}

.resume-container {
    margin-top: 110px;
    display: flex;
    gap: 50px;
}

.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}

.resume-item-sub-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;

}

.resume-discription {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 55px;
    margin-bottom: 30px;
}

.doenload-cv {
    margin: 50px 0 110px 0;
    text-align: center;
}

/* footer style */
.footer-clumn-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.footer-column-title-discription {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.social-links a {
    margin-right: 24px;
}

footer {
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 230px;
    gap: 100px;

}

.footer-column {
    width: 50%;
}

.contact input,
textarea {
    display: block;
}

input[type="text"],input[type="email"] ,
textarea {
    margin-top: 25px;
    padding: 18px 35px;
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    border: 0;
    width: 100%;
    margin-bottom: 24px;
}
.footer-text{
    text-align: center;
}

